<div class="jumbotron">
  <button *ngIf = "players && players.length" (click)="openAddMatchDialog()" class="btn btn-lg btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Dodaj mecz
    </button>
</div>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="matchesDataSource">

    <ng-container matColumnDef="player1.name">
      <mat-header-cell *matHeaderCellDef> Gracz 1 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.player1.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Wynik </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.player1.score}} : {{match.player2.score}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="player2.name">
      <mat-header-cell *matHeaderCellDef> Gracz 2 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.player2.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let match">
        <button mat-icon-button (click)="edit(match)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(match.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="{highlight: selectedPlayer}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
