@model LoginViewModel

<div class="login-page">
  <div class="page-header">
    <h1>Login</h1>
  </div>

  <partial name="_ValidationSummary" />

  <div class="row">

    @if (Model.EnableLocalLogin)
    {
      <div class="col-sm-6">
        <div class="mdl-card mdl-shadow--2dp local-login-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Local login</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form asp-route="Login">
              <input type="hidden" asp-for="ReturnUrl" />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" asp-for="Username" autofocus>
                <label class="mdl-textfield__label" asp-for="Username">Username</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" asp-for="Password" autocomplete="off">
                <label class="mdl-textfield__label" asp-for="Password">Password</label>
              </div>

              @if (Model.AllowRememberLogin)
              {

                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" asp-for="RememberLogin">
                  <input type="checkbox" class="mdl-checkbox__input" asp-for="RememberLogin">
                  <span class="mdl-checkbox__label">Remember my login</span>
                </label>
              }

              <div>
                <p>The default users are alice/bob, password: Pass123$</p>
              </div>

              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" name="button" value="login">Login</button>
              <button class="mdl-button mdl-js-button mdl-button--raised" name="button" value="cancel">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    }

    @if (Model.VisibleExternalProviders.Any())
    {
      <div class="col-md-6 col-sm-6">
        <div class="mdl-card mdl-shadow--2dp external-providers-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">External Login</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <ul class="list-inline">
              @foreach (var provider in Model.VisibleExternalProviders)
              {
                <li>
                  <a class="mdl-button mdl-js-button mdl-button--raised"
                     asp-controller="External"
                     asp-action="Challenge"
                     asp-route-provider="@provider.AuthenticationScheme"
                     asp-route-returnUrl="@Model.ReturnUrl">
                    @provider.DisplayName
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
      <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
      </div>
    }
  </div>
</div>