<div>
  <mat-toolbar color="primary">
    <div style="width: 100%" class="floatfix"> 
        <span class="toolbar-left">
            <button mat-button class="sidenav-toggle toolbar-item" (click)="toggleSidenav.emit()">
              <mat-icon>menu</mat-icon>
            </button>
        
            <span class="toolbar-item">{{title}}</span>
          </span>
          <span class="toolbar-right">
            <button mat-button class="toolbar-item">
              <mat-icon>account_circle</mat-icon>
            </button>
          </span>
    </div>


  </mat-toolbar>
</div>