.floatfix:after {
  content:'';
  display:block;
  clear:both;
}
.toolbar-left {
  float: left;
}
.toolbar-right {
  float: right;
}

.toolbar-item {
  font-size: 18px;
  height: 64px;
}

.logo-img{
  max-height: 64px;
  margin: 0 15px;
}

@media (max-width: 599px) {
  .logo-img{
    max-height: 56px;
  }
  .toolbar-item{
    height: 56px;
  }
}
