<div>
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <div style="width: 100%" class="floatfix"> 
        <span class="toolbar-left">
            <img class="logo-img" src="../assets/mtg_logo.png" alt="logo">
            <button mat-button class="toolbar-item" [routerLink]="['/tournaments']">
              Turnieje
            </button>
          </span>
          <span *ngIf="!isAuthenticated" class="toolbar-right">
            <button mat-button class="toolbar-item" [routerLink]="['/login']"  >
              <mat-icon>account_circle</mat-icon> Zaloguj
            </button>
          </span>
          <span *ngIf="isAuthenticated" class="toolbar-right">
            <button mat-button class="toolbar-item" (click)="signout()">
              <mat-icon>account_circle</mat-icon> Wyloguj
            </button>
          </span>
    </div>


  </mat-toolbar>
</div>