$iconWidth: 56px;

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 0 8px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }


}
.toolbar-item {
  height: $iconWidth;
  width: $iconWidth;
  line-height: $iconWidth;
  color: white;
}


.floatfix:after {
  content:'';
  display:block;
  clear:both;
}
.toolbar-left {
  float: left;
}
.toolbar-right {
  float: right;
}