 .register-form {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.mat-form-field {
  margin: 5px 0;
  min-width: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
}

// mat-card-actions .submit-btn {
//   justify-self: flex-end
// }