<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="ranking">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Gracz</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="matches">
      <mat-header-cell *matHeaderCellDef>Mecze</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.matches}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wonMatches">
      <mat-header-cell *matHeaderCellDef>Wygrane</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.wonMatches}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lostMatches">
      <mat-header-cell *matHeaderCellDef>Przegrane</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.lostMatches}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wonPoints">
      <mat-header-cell *matHeaderCellDef>Wygrane partie</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.wonPoints}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lostPoints">
      <mat-header-cell *matHeaderCellDef>Przegrane partie</mat-header-cell>
      <mat-cell *matCellDef="let rankingRecord"> {{rankingRecord.lostPoints}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>