<div class="mat-elevation-z table-wrapper">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtr">
  </mat-form-field>

  <button id="add-tournament-button" mat-fab color="accent" [routerLink]="['/new-tournament']">
    <mat-icon>add</mat-icon>
  </button>

  <mat-table #table [dataSource]="tournamentsDataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let tournament"> {{tournament.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let tournament"> {{tournament.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let tournament">
        <button mat-icon-button [routerLink]="['/tournament-details', tournament.id]">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" mat-icon-button color="warn" (click)="delete(tournament.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="spinner" *ngIf="tournamentsDataSource.loading$ | async">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div> 
</div>