#add-tournament-button{
  position: absolute;
  top: 20px;
  right: 40px;
}

.table-wrapper{
  padding: 10px;
  position: relative;
}

.spinner {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 30px;
}